/* =====================
TABLET
===================== */


@media(max-width:1024px){





header{


left:25px;


right:25px;


}





nav{


gap:20px;


}





.hero-title span{


font-size:

80px;


}





.hero-title span:nth-child(2){


margin-left:30px;


}





.intro h2{


font-size:60px;


}





.works{


padding:

120px 5%;


}





.work-image{


height:55vh;


}





.skills h2{


font-size:70px;


}





.skill-list{


grid-template-columns:

1fr;


}





.contact-title h2{


font-size:70px;


}





}









/* =====================
MOBILE
===================== */


@media(max-width:768px){






header{


top:20px;


display:block;


}





.logo{


text-align:center;


}





.logo h1{


font-size:12px;


}





nav{


margin-top:25px;


justify-content:center;


gap:15px;


flex-wrap:wrap;


}



nav a{


font-size:10px;


letter-spacing:2px;


}









.hero{


height:100svh;


}





.hero-content p{


font-size:10px;


letter-spacing:6px;


}





.hero-title span{


font-size:

55px;


letter-spacing:-2px;


}




.hero-title span:nth-child(2){


margin-left:0;


}




.hero-sub{


font-size:10px;


letter-spacing:3px;


}








.scroll{


bottom:30px;


}









.intro{


padding:

120px 25px;


}





.intro h2{


font-size:40px;


margin:35px 0;


}





.intro p{


font-size:14px;


}









.works{


padding:

100px 20px;


}





.section-title{


font-size:12px;


margin-bottom:40px;


}




.work-item{


margin-bottom:70px;


}




.work-image{


height:45vh;


border-radius:20px;


}









.shorts{


padding:

100px 0;


}




.shorts-track{


padding-left:25px;


gap:15px;


}




.short-card{


min-width:190px;


height:330px;


}









.skills{


padding:

120px 20px;


}





.skills h2{


font-size:50px;


margin-bottom:60px;


}





.skill-card{


padding:30px;


}





.skill-card h3{


font-size:28px;


}









.contact{


padding:

100px 20px;


}





.contact-title h2{


font-size:55px;


}





.contact-info{


grid-template-columns:

1fr;


}




.contact-item{


padding:30px;


}





.cursor{


display:none;


}





}









/* =====================
SMALL MOBILE
===================== */


@media(max-width:390px){





.hero-title span{


font-size:

45px;


}





nav{


gap:10px;


}





.short-card{


min-width:170px;


height:300px;


}





.skills h2{


font-size:42px;


}



}