@import url(
'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Noto+Sans+KR:wght@300;400;700&display=swap'
);



:root{

--bg:#10091D;

--purple:#A855F7;

--purple2:#C084FC;

--light:#E9D5FF;

--white:#fff;

--gradient:

linear-gradient(

135deg,

#7C3AED,

#C084FC,

#F5D0FE

);

}





*{

margin:0;

padding:0;

box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{


background:var(--bg);


color:white;


font-family:

'Noto Sans KR',
sans-serif;


overflow-x:hidden;


}




a{

color:inherit;

text-decoration:none;

}




img{

width:100%;

display:block;

}







/* =====================
CURSOR
===================== */


.cursor{


position:fixed;


width:70px;


height:70px;


border-radius:50%;


background:

rgba(255,255,255,.1);



backdrop-filter:blur(15px);


border:

1px solid rgba(255,255,255,.4);



display:flex;


align-items:center;


justify-content:center;



font-size:11px;


letter-spacing:3px;



z-index:9999;


pointer-events:none;



transform:

translate(-50%,-50%);


}





.cursor.hover{


width:110px;


height:110px;


background:

var(--gradient);


}









/* =====================
HEADER
===================== */


header{


position:fixed;


top:35px;


left:50px;


right:50px;


z-index:100;


display:flex;


justify-content:space-between;


align-items:center;


}



.logo h1{


font-family:

'Space Grotesk';


font-size:15px;


letter-spacing:5px;


}



.logo span{


font-size:10px;


letter-spacing:4px;


color:var(--light);


}





nav{


display:flex;


gap:35px;


}



nav a{


font-size:12px;


letter-spacing:3px;


transition:.3s;


}



nav a:hover{


color:var(--light);


}









/* =====================
HERO
===================== */


.hero{


height:100vh;


display:flex;


align-items:center;


justify-content:center;


position:relative;


overflow:hidden;


background:


radial-gradient(

circle at center,

rgba(192,132,252,.45),

transparent 45%

),


linear-gradient(

135deg,

#140B24,

#581C87

);


}




#webgl{


position:absolute;


inset:0;


}






.hero-content{


position:relative;


z-index:2;


text-align:center;


}





.hero-content p{


letter-spacing:10px;


font-size:12px;


color:var(--light);


margin-bottom:40px;


}






.hero-title{


overflow:hidden;


}




.hero-title span{


display:block;


font-family:

'Space Grotesk';


font-size:

clamp(80px,12vw,150px);


font-weight:700;


letter-spacing:-7px;


line-height:.85;



background:

var(--gradient);



-webkit-background-clip:text;


color:transparent;



transform:

translateY(120%);


}





.hero-title span:nth-child(2){


margin-left:0;


}





.hero-meta{


display:flex;


justify-content:center;


gap:40px;


margin-top:55px;


}




.hero-meta span{


font-size:11px;


letter-spacing:4px;


color:var(--light);


position:relative;


}




.hero-meta span:not(:last-child)::after{


content:"";


position:absolute;


right:-22px;


top:50%;


width:5px;


height:5px;


background:white;


border-radius:50%;


}







.hero-sub{


margin-top:40px;


font-size:13px;


letter-spacing:6px;


}





.scroll{


position:absolute;


bottom:50px;


font-size:10px;


letter-spacing:7px;


}





.scroll::after{


content:"";


display:block;


height:60px;


width:1px;


background:white;


margin:20px auto;


}









/* =====================
ABOUT SECTION
===================== */


.intro{


min-height:100vh;


padding:180px 10%;


position:relative;


overflow:hidden;


background:


radial-gradient(

circle at 20% 30%,

rgba(87, 26, 156, 0.35),

transparent 35%

),


linear-gradient(

135deg,

#603a96,

#310668

);



color:white;


}





.about-bg-circle{


position:absolute;


width:500px;


height:500px;


border-radius:50%;


right:-150px;


top:100px;


background:

linear-gradient(

135deg,

#A855F7,

#E9D5FF

);


filter:blur(80px);


opacity:.25;


}






.intro .section-title{


position:relative;


z-index:2;


}





.about-content{


position:relative;


z-index:2;


}





.about-main h2{


font-family:

'Space Grotesk';


font-size:

clamp(30px,9vw,110px);


line-height:.9;


letter-spacing:-6px;


background:

linear-gradient(

90deg,

#ffffff,

#C084FC

);


-webkit-background-clip:text;


color:transparent;


margin-bottom:60px;


}





.about-main p{


max-width:600px;


font-size:18px;


line-height:2;


opacity:.85;


}







.about-grid{


margin-top:100px;


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:30px;


}







.about-card{


padding:40px;


height:260px;


border-radius:35px;


background:

rgba(255,255,255,.08);



border:

1px solid rgba(255,255,255,.15);



backdrop-filter:blur(20px);



transition:.5s;


}





.about-card span{


font-size:12px;


letter-spacing:5px;


color:#E9D5FF;


}





.about-card h3{


font-family:

'Space Grotesk';


font-size:35px;


margin:30px 0;


}





.about-card p{


font-size:14px;


line-height:2;


opacity:.7;


}





.about-card:hover{


transform:

translateY(-15px);


background:

rgba(192,132,252,.2);



box-shadow:

0 30px 80px rgba(168,85,247,.3);


}




.section-title{


font-size:40px;


letter-spacing:8px;


color:var(--purple2);


margin-bottom:70px;


}



.intro h2{


font-family:

'Space Grotesk';


font-size:

clamp(50px,7vw,100px);


line-height:1;


margin-bottom:50px;


}



.intro p{


font-size:16px;


line-height:2;


}









/* =====================
WORKS
===================== */


.works{


padding:160px 0;


display:flex;


flex-direction:column;


align-items:center;


background:

linear-gradient(

180deg,

#29262e,

#24113D

);


}




.works .section-title{


width:80%;


}





.work-item{


width:80%;


max-width:1200px;


margin-bottom:140px;


}





.work-number{


font-size:12px;


letter-spacing:6px;


color:var(--purple2);


margin-bottom:30px;


}





.work-image{


height:70vh;


border-radius:40px;


overflow:hidden;


position:relative;


}

.work-item video{


width:100%;


height:100%;


object-fit:cover;


display:block;


border-radius:30px;


}


.work-image img{


height:100%;


object-fit:cover;


transition:.8s;


}




.work-image::after{


content:"";


position:absolute;


inset:0;


background:

linear-gradient(

135deg,

rgba(168,85,247,.35),

transparent

);


opacity:0;


transition:.5s;


}



.work-item:hover .work-image::after{


opacity:1;


}



.work-item:hover img{


transform:scale(1.08);


}




.work-info{


display:flex;


justify-content:space-between;


align-items:center;


margin-top:30px;


}



.work-info h3{


font-family:

'Space Grotesk';


font-size:35px;


}



.work-info p{


font-size:13px;


opacity:.7;


}









/* =====================
SHORTS LIBRARY
===================== */


.shorts{


padding:150px 0;


background:#10091D;


overflow:hidden;


}



.shorts .section-title{


padding-left:8%;


}







/* =====================
SHORTS FIX
===================== */


.shorts{

overflow:hidden;

}



.shorts-track{


display:flex;


gap:35px;


width:80%;


margin:0 auto;


overflow-x:auto;


padding:30px 20px 35px 20px;


}


/* =====================
SHORTS SLIDER
===================== */


.shorts-track{

cursor:grab;

user-select:none;

}


.shorts-track:active{

cursor:grabbing;

}



/* 스크롤바 제거 */

.shorts-track::-webkit-scrollbar{

display:none;

}




.short-card{


min-width:280px;


padding:15px;


background:

rgba(255,255,255,.08);



border:

1px solid rgba(255,255,255,.15);



border-radius:32px;


transition:.5s;


}

.short-card video{


width:100%;


height:100%;


object-fit:cover;


display:block;


border-radius:25px;


}



.short-frame{


height:430px;


border-radius:25px;


overflow:hidden;


}



.short-frame img{


height:100%;


object-fit:cover;


transition:.6s;


}





.short-info{


padding:25px 10px;


}



.short-info span{


font-size:10px;


letter-spacing:5px;


color:var(--light);


}



.short-info h3{


font-family:

'Space Grotesk';


font-size:26px;


margin:15px 0;


}



.short-info p{


font-size:12px;


opacity:.6;


}





.short-card:hover{


transform:translateY(-8px) scale(1.03);


box-shadow:

0 30px 70px rgba(168,85,247,.35);


}



.short-card:hover img{


transform:scale(1.08);


}









/* =====================
CONTACT
===================== */


.contact{


min-height:100vh;


display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


text-align:center;


background:

radial-gradient(

circle,

#7C3AED,

#090510

);


}




.contact-title h2{


font-family:

'Space Grotesk';


font-size:

clamp(70px,15vw,70px);


letter-spacing:-8px;


background:

var(--gradient);


-webkit-background-clip:text;


color:transparent;


}





.contact-info{


width:70%;


display:grid;


grid-template-columns:

repeat(3,1fr);


gap:30px;


margin-top:80px;


}



.contact-item{


padding:35px;


background:

rgba(255,255,255,.12);


border-radius:25px;


transition:.4s;


}



.contact-item:hover{


transform:translateY(-10px);


}

/* =====================
SKILL SECTION
===================== */


.skills{


padding:160px 10%;


background:


linear-gradient(

135deg,

#12091F,

#32105A

);


}





.skill-container{


display:grid;


grid-template-columns:

repeat(2,1fr);


gap:35px;


max-width:1200px;


margin:auto;


}







.skill-card{


height:430px;


padding:45px;


border-radius:35px;


background:

rgba(255,255,255,.08);



border:

1px solid rgba(255,255,255,.15);



backdrop-filter:

blur(20px);


overflow:hidden;


transition:.5s;


}





.skill-card:hover{


transform:

translateY(-12px);


background:

rgba(192,132,252,.18);


box-shadow:

0 30px 70px rgba(168,85,247,.35);


}







.skill-card h2{


font-family:

'Space Grotesk';


font-size:42px;


letter-spacing:-1px;


margin-bottom:40px;


}







.skill-item{


margin-bottom:28px;


}





.skill-name{


display:flex;


justify-content:space-between;


font-size:14px;


margin-bottom:10px;


letter-spacing:1px;


}





.skill-name span{


color:#C084FC;


}





.bar{


height:7px;


background:

rgba(255,255,255,.15);


border-radius:20px;


overflow:hidden;


}





.bar span{


display:block;


height:100%;


width:0;


background:


linear-gradient(

90deg,

#A855F7,

#E9D5FF

);


}







/* =====================
AI WORKFLOW GRID
===================== */


.ai-grid{


display:grid;


grid-template-columns:

repeat(2,1fr);


gap:25px;


}





.ai-tool{


padding:15px;


}





.ai-tool h3{


font-family:

'Space Grotesk';


font-size:18px;


color:#E9D5FF;


margin-bottom:8px;


}





.ai-tool p{


font-size:12px;


line-height:1.7;


opacity:.8;


}
/* =====================
ABOUT FINAL
===================== */


.about{

padding:150px 10%;

background-color: #9a85bd;

}



.about-container{

display:grid;

grid-template-columns:1fr 1.2fr;

gap:80px;

align-items:center;

max-width:1300px;

margin:auto;

}



/* VIDEO */


.about-video{

width:420px;

height:420px;

border-radius:50%;

overflow:hidden;

transition:.5s ease;

}



.about-video:hover{

transform:scale(1.05);

box-shadow:0 0 40px rgba(110, 55, 161, 0.45);

}



.about-video video{

width:100%;

height:100%;

object-fit:cover;

transition:.5s ease;

}



.about-video:hover video{

transform:scale(1.08);

}





/* PROFILE */


.profile-text{

margin-top:40px;

}



.profile-text h3{

letter-spacing:3px;

margin-bottom:20px;

font-size: 30px;

color: #202020;

}



.profile-text p{

line-height:1.9;

}







/* RIGHT */


.about-right h1{

font-size:64px;

line-height:1.15;

}



.about-desc{

line-height:2;

margin-top:30px;

}





/* CIRCLE */


.ability-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

margin-top:50px;

}





.ability{

text-align:center;

}



.circle{

width:100px;

height:100px;

border-radius:50%;

background:

conic-gradient(

#4b085e 0deg,

rgb(90, 6, 90) 0deg

);


display:flex;

align-items:center;

justify-content:center;

margin:auto;

position:relative;

}





.circle::before{

content:"";

position:absolute;

width:78px;

height:78px;

background:#6d7779;

border-radius:50%;

}



.circle span{

position:relative;

z-index:1;

}





/* SCROLL MOTION */


.about-left,

.about-right{

opacity:0;

transform:translateY(50px);

transition:.9s ease;

}



.about.show .about-left,

.about.show .about-right{

opacity:1;

transform:translateY(0);

}



.ability{

opacity:0;

transform:translateY(30px);

transition:.7s ease;

}



.about.show .ability{

opacity:1;

transform:translateY(0);

}



.about.show .ability:nth-child(1){transition-delay:.3s;}
.about.show .ability:nth-child(2){transition-delay:.4s;}
.about.show .ability:nth-child(3){transition-delay:.5s;}
.about.show .ability:nth-child(4){transition-delay:.6s;}
.about.show .ability:nth-child(5){transition-delay:.7s;}
.about.show .ability:nth-child(6){transition-delay:.8s;}


/* =====================
WORK PROJECT HOVER
===================== */


.project-video{

position:relative;

overflow:hidden;

}



.project-video video{

width:100%;

display:block;

}





.project-overlay{


position:absolute;


inset:0;


display:flex;


align-items:center;


justify-content:center;


gap:20px;


background:rgba(0,0,0,.45);


opacity:0;


transition:.4s ease;


}



.project-video:hover .project-overlay{


opacity:1;


}




.project-btn{


padding:12px 28px;


border:1px solid white;


border-radius:30px;


color:white;


text-decoration:none;


font-size:14px;


transition:.3s ease;


}



.project-btn:hover{


background:white;


color:black;


}


/* ===========================
GALLERY
=========================== */

.gallery{

    padding:150px 8%;

    background:#0A0A12;

    border-top:1px solid rgba(255,255,255,.05);

    overflow:hidden;

}


/* TITLE */

.gallery .section-title{

    margin-bottom:90px;

}



/* ===========================
FEATURE
=========================== */

.gallery-feature{

    position:relative;

    display:grid;

    grid-template-columns:1fr 450px;

    align-items:center;

    gap:40px;

    margin-bottom:120px;

}



/* ===========================
LEFT
=========================== */

.gallery-left h2{

    font-size:54px;

    line-height:1.25;

    font-weight:600;

    margin-left: 200px;

}



/* ===========================
FEATURE CAPTION
=========================== */

.feature-caption{

    position:absolute;

    left:70%;

    bottom:25px;

    transform:translateX(-100%);

    text-align:left;

    z-index:5;

}

.feature-caption span{

    display:block;

    font-size:10px;

    letter-spacing:4px;

    color:#A855F7;

    margin-bottom:12px;

}

.feature-caption h3{

    font-size:18px;

    margin-bottom:8px;

    font-weight:500;

}

.feature-caption p{

    font-size:12px;

    color:#8b8b8b;

}



/* ===========================
FEATURE IMAGE
=========================== */

.gallery-right{

    display:flex;

    justify-content:flex-start;


}


.feature-thumbnail{

    width:520px;

    height:620px;

    border-radius:28px;

    overflow:hidden;

    cursor:pointer;

    transition:.45s;

    border:1px solid rgba(255,255,255,.08);


}

.feature-thumbnail:hover{

    transform:translateY(-8px);

    box-shadow:0 30px 60px rgba(0,0,0,.35);

}

.feature-thumbnail img{

    width:100%;

    height:100%;

    object-fit:cover;

}



/* ===========================
SLIDER
=========================== */

.gallery-track{

    display:flex;

    gap:30px;

    overflow-x:auto;

    padding-bottom:10px;

    cursor:grab;

    user-select:none;

    scroll-behavior:smooth;

    padding: 25px 0 25px 0;

}

.gallery-track:active{

    cursor:grabbing;

}

.gallery-track::-webkit-scrollbar{

    display:none;

}



/* ===========================
CARD
=========================== */

.gallery-card{

    flex:0 0 310px;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    border-radius:28px;

    padding:18px;

    cursor:pointer;

    transition:.45s;

}

.gallery-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 50px rgba(0,0,0,.25);

}



/* IMAGE */

.gallery-card img{

    width:100%;

    height:300px;

    object-fit:contain;

    display:block;

    background:#14141B;

    border-radius:18px;

}



/* TEXT */

.gallery-card span{

    display:block;

    margin-top:18px;

    font-size:11px;

    letter-spacing:3px;

    color:#bfbfbf;

}



/* ===========================
LIGHTBOX
=========================== */

.gallery-lightbox{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.92);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    visibility:hidden;

    transition:.35s;

    z-index:99999;

}

.gallery-lightbox.active{

    opacity:1;

    visibility:visible;

}

.gallery-lightbox img{

    max-width:92%;

    max-height:92%;

    object-fit:contain;

}

.gallery-close{

    position:absolute;

    top:40px;

    right:60px;

    font-size:40px;

    cursor:pointer;

    color:#fff;

}